Resumable Upload and RFC-7231

Is the PUT method use described here compliant with RFC-7231? 

>PUT https://sn3302.up.1drv.com/up/fe6987415ace7X4e1eF866337
>Content-Length: 21
>Content-Range: bytes 101-127/128
>
>\<final bytes of the file\>

https://tools.ietf.org/html/rfc7231#section-4.3.4

`An origin server that allows PUT on a given target resource MUST send
   a 400 (Bad Request) response to a PUT request that contains a
   Content-Range header field (Section 4.2 of [RFC7233]), since the
   payload is likely to be partial content that has been mistakenly PUT
   as a full representation.  Partial content updates are possible by
   targeting a separately identified resource with state that overlaps a
   portion of the larger resource, or by using a different method that
   has been specifically defined for partial updates (for example, the
   PATCH method defined in [RFC5789]).`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e6ce1c2-6f62-ccf4-3816-87d2c4eadc95
* Version Independent ID: da81af46-492e-a5a7-78e5-ae217d6f1c11
* Content: [Resumable file upload - Microsoft Graph v1.0](https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-1.0)
* Content Source: [api-reference/v1.0/api/driveitem-createuploadsession.md](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/driveitem-createuploadsession.md)
* Product: **sharepoint**
* Technology: **microsoft-graph**
* GitHub Login: @JeremyKelley
* Microsoft Alias: **JeremyKelley**

See also:
https://www.rfc-editor.org/rfc/inline-errata/rfc7231.html
"Appendix B.  Changes from RFC 2616"
`  ... use of Content-Range has been explicitly banned in PUT requests.
   (Section 4.3.4)`